body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: grey;
}

.row{
    --bs-gutter-x: 0rem;
}

.container-fluid{
    width: 100vw;
    height: 100vh;
}

.contact .info-item {
    background: #f4f4f4;
    padding: 3em;
    height: 100%;
}

.form-group {
    padding-bottom: 2em;
    padding-top: 2em;
}

.contact .info-item p {
    padding: 0;
    margin: 0;
    line-height: 2em;
    font-size: 1em;
}

.containerCOLUMN{
    margin: 5em;
    padding: auto;
    display: flex;
}

.titulo{
    color: yellow;
  
}

.formularioContacto{
    padding-top: 5em;
}



.navbar{
    background-color: black;
}

#textoPromo{
    padding-top: 2em;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }

#imagenPromo{

    display: flex;
    align-items: center;
    justify-content: center;
}
#textoPromo{
    color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}

#joanPROMO{
    width: auto;
    height: auto;
}

.h-10{

    height: 10vh;

}

.h-35{

    height: 35vh;

}
.h-55{

    height: 55vh;

}
.h-70{

    height: 70vh;

}
.h-60{

    height: 60vh;

}
.h-80{

    height: 80vh;

}
.h-110{

    height: 110vh;

}

.background-blue{

    background-color: blue;
}
.background-yellow{

    background-color: yellow;
}
.background-black{

    background-color: rgb(24, 23, 23);
}
.background-red{

    background-color: red;
}
.background-grey{

    background-color: rgb(92, 92, 92);
}
.background-white{

    background-color: white;
}